
{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['td-agent'],
        'service': 'td-agent',
        'config_path': '/etc/td-agent/td-agent.conf',
    },
    'RedHat': {
        'pkgs': ['td-agent'],
        'service': 'td-agent',
        'config_path': '/etc/td-agent/td-agent.conf',
    },
}, merge=salt['pillar.get']('fluentd:server')) %}