Source: salt-formula-fluentd
Maintainer: Salt Formulas Community <salt-formulas@freelists.org>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/salt-formulas/salt-formulas
Vcs-Browser: https://github.com/salt-formulas/salt-formula-fluentd
Vcs-Git: https://github.com/salt-formulas/salt-formula-fluentd.git

Package: salt-formula-fluentd
Architecture: all
Depends: ${misc:Depends}
Description: Fluentd Salt formula
 Install and configure fluentd
